.contact-section {
  padding: 25px 0;
  background-color: var(--background-color);
  text-align: center;
}

.contact-section h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.contact-section p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: var(--text-color);
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 1rem;
}

.form-group input, .form-group textarea {
  width: 100%;
  padding: 10px;
  color: var(--text-color);
  background-color: var(--background-color);
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

/* Style dla aktywnych (focus) elementów */
.form-group input:focus,
.form-group textarea:focus {
  border-color: var(--primary-color); 
  outline: none; 
  box-shadow: 0 0 5px var(--primary-color);
}

.form-group input:active,
.form-group textarea:active {
  border-color: var(--primary-color); 
  outline: none; 
  box-shadow: 0 0 5px var(--primary-color);
}

.form-group textarea {
  resize: vertical;
  height: 150px;
}
.contact-button {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 75px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none!important;
}

.submit-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.success-message, .error-message {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

.success-message {
  color: #28a745;
}

span.error-message {
  color: #dc3545;
}

.submit-button:hover {
  background-color: var(--primary-color);
}

@media (max-width: 768px) {
  .contact-section h2 {
    font-size: 2rem;
  }

  .contact-section p {
    font-size: 1rem;
  }

  .contact-form {
    padding: 0 20px;
  }
}
  